#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if [ -s /etc/default/gpsd ] ; then
	. /etc/default/gpsd
	if [ -n "$START_DAEMON" ] ; then
		db_set gpsd/start_daemon "$START_DAEMON"
	fi
	if [ -n "$DAEMON_OPTS" ] ; then
		db_set gpsd/daemon_options "$DAEMON_OPTS"
	fi
	if [ -n "$DEVICES" ] ; then
		db_set gpsd/device "$DEVICES"
	fi
fi

db_input medium gpsd/start_daemon || true
db_go

db_get gpsd/start_daemon
START=$RET

if [ "x$START" = "xtrue" ] ; then

	db_input medium gpsd/device || true
	db_go

	db_input medium gpsd/daemon_options || true
	db_go

fi
