From f57c74248cff74bcfd529441e45e63f573fcc017 Mon Sep 17 00:00:00 2001
From: Bernd Zeimetz <bernd@bzed.de>
Date: Wed, 11 Jan 2012 22:14:35 +0100
Subject: [PATCH] Debian Bug#655349: Missing Requires in gpsd.service
MIME-Version: 1.0
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: 8bit

Patch by Eckhart Wörner.
---
 systemd/gpsd.service |    1 +
 1 files changed, 1 insertions(+), 0 deletions(-)

diff --git a/systemd/gpsd.service b/systemd/gpsd.service
index c32ec5b..8deaf75 100644
--- a/systemd/gpsd.service
+++ b/systemd/gpsd.service
@@ -1,5 +1,6 @@
 [Unit]
 Description=GPS (Global Positioning System) Daemon
+Requires=gpsd.socket
 
 [Service]
 ExecStart=/usr/sbin/gpsd -N
-- 
1.7.7.1

