Source: gpsd
Section: misc
Priority: optional
Maintainer: Bernd Zeimetz <bzed@debian.org>
Build-Depends: debhelper (>= 5.0.61), po-debconf, dpkg-dev (>= 1.14.8),
 quilt, autotools-dev, 
 python-all-dev, python-support (>= 0.4),
 xsltproc, docbook-xsl, docbook-xml,
 libxt-dev, lesstif2-dev, libxaw7-dev, libncurses-dev,
 libdbus-1-dev, libglib2.0-dev, libdbus-glib-1-dev, makedev,
 lsb-release
Standards-Version: 3.8.1
Homepage: http://gpsd.berlios.de/
XS-Python-Version: all

Package: gpsd
Architecture: any
Depends: python, netbase, lsb-base (>= 3.2-13), ${shlibs:Depends}, ${misc:Depends}
Recommends: udev
Breaks: ${gpsd:Breaks}
Suggests: gpsd-clients
Description: GPS (Global Positioning System) daemon
 gpsd is a service daemon that monitors one or more GPSes attached to a host
 computer through serial or USB ports, making all data on the location/course/
 velocity of the sensors available to be queried on TCP port 2947 of the host
 computer.
 .
 With gpsd, multiple GPS client applications can share access to GPSes without
 contention or loss of data. Also, gpsd responds to queries with a format that
 is substantially easier to parse than the NMEA 0183 emitted by most GPSes.

Package: gpsd-clients
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: python-gps, gpsd
Description: Clients for the GPS daemon
 gpsd is a service daemon that monitors one or more GPSes attached to a host
 computer through serial or USB ports, making all data on the location/course/
 velocity of the sensors available to be queried on TCP port 2947 of the host
 computer.
 .
 This package contains auxiliary tools and example clients for monitoring and
 testing gpsd.

Package: python-gps
Architecture: any
Section: python
Replaces: gpsd-clients (<< 2.34.dfsg-1)
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Recommends: gpsd
Provides: ${python:Provides}
Description: Python interface to gpsd and testing environment
 gpsd is a service daemon that monitors one or more GPSes attached to a host
 computer through serial or USB ports, making all data on the location/course/
 velocity of the sensors available to be queried on TCP port 2947 of the host
 computer.
 .
 This package contains a Python interface to conntect to gpsd, together with
 a module providing a controlled testing environment. It also ships two tools
 which utilize the interface: gpsprof for latency-profiling and gpsfake to
 simulate a GPS by playing back a logfile.

Package: libgps18
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C library for communicating with GPS devices
 libgps is a service library for querying GPS devices. There are two
 interfaces supported by it:
   * A high-level interface that goes through gpsd, a service daemon that
     monitors one or more GPS devices. It is intended for concurrent use by
     several applications.
   * A low-level interface that speaks directly with the serial or USB
     device to which the GPS is attached.

Package: libgps-dev
Architecture: any
Section: libdevel
Depends: libgps18 (= ${binary:Version}), ${misc:Depends}
Conflicts: gpsd (<< 2.34.dfsg-1)
Description: C library for communicating with GPS devices (development files)
 libgps is a service library for querying GPS devices. There are two
 interfaces supported by it:
   * A high-level interface that goes through gpsd, a service daemon that
     monitors one or more GPS devices. It is intended for concurrent use by
     several applications.
   * A low-level interface that speaks directly with the serial or USB
     device to which the GPS is attached.
 .
 This package contains the header and development files needed to build
 programs and packages using libgps.

