#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if [ -s /etc/default/gpsd ] ; then
    . /etc/default/gpsd
    if [ -n "$START_DAEMON" ] ; then
        db_set gpsd/start_daemon "$START_DAEMON"
    fi
    if [ -n "$DAEMON_OPTS" ] ; then
        db_set gpsd/daemon_options "$DAEMON_OPTS"
    fi
    if [ -n "$DEVICES" ] ; then
        db_set gpsd/device "$DEVICES"
    fi
    if [ -n "$USBAUTO" ]; then
        db_set gpsd/autodetection "$USBAUTO"
    fi
fi



db_input medium gpsd/start_daemon || true
db_go
db_get gpsd/start_daemon
startd="$RET"

db_capb backup

STATE=2
ERRORS=0
while [ "$startd" = "true" ]; do

    #bail out after too many errors
    if [ "$ERRORS" -gt 5 ]; then
        STATE=0
    fi

    case "$STATE" in
        0)
            # There is no way to go back from the
            # first question. Exit is the only sane way.
            exit 10
        ;;
        1)
            db_input medium gpsd/start_daemon || true           
        ;;
        2)
            db_input low gpsd/device || true
        ;;
        3)
            db_input low gpsd/daemon_options || true
        ;;
        4)
            db_input low gpsd/autodetection || true
        ;;
        5)
            db_get gpsd/device
            device="$RET"
            db_get gpsd/daemon_options
            opts="$RET"
            db_get gpsd/autodetection
            autodet="$RET"

            if [ "$autodet" = "true" ]; then
                if ! echo "$opts" | grep -q -E -- '-F +/var/run/gpsd.sock'; then
                    db_fset gpsd/daemon_options seen false
                    db_fset gpsd/autodetection seen false
                    db_input low gpsd/brokenconfig || true
                    db_go || true
                    STATE=3
                    ERRORS=$(($ERRORS + 1))
                    continue
                fi
            fi

            if ! echo "$opts" | grep -q -- '-F'; then
                if [ -z "device" ]; then
                    db_fset gpsd/device seen false
                    db_fset gpsd/daemon_options seen false
                    db_input low gpsd/brokenconfig || true
                    db_go || true
                    STATE=2
                    ERRORS=$(($ERRORS + 1))
                    continue
                fi
            fi

            STATE=$(($STATE + 1))
            continue
        ;;
        *)
            break
        ;;
    esac


    OLDSTATE="$STATE"
    if db_go; then
        STATE=$(($STATE + 1))
    else
        STATE=$(($STATE - 1))
    fi

    if [ $OLDSTATE -eq 1 ]; then
        db_get gpsd/start_daemon
        startd="$RET"
    fi

done


