#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

#uncomment if debhelper should be verbose
#export DH_VERBOSE=1

CONFFLAGS =
CONFENV =
CFLAGS =
LDFLAGS =
CPPFLAGS =

#python versions
PYVERS := $(shell pyversions -r)

#let's help configure to figure out our host/build system
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  CONFFLAGS += --build $(DEB_HOST_GNU_TYPE)
else
  CONFFLAGS += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif



#where our files go
PREFIX = /usr
MANDIR = $(PREFIX)/share/man
INFODIR = $(PREFIX)/share/info
CONFFLAGS += --prefix=$(PREFIX) --mandir=$(MANDIR) --infodir=$(INFODIR)



#let's take care of optimization + debug builds
CFLAGS += -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

#supporting LinuxThreads
CFLAGS += -D_REENTRANT

CONFENV += CFLAGS="$(CFLAGS)"


#we build the python extension manually
CONFFLAGS += --disable-python

#support dbus
CONFFLAGS += --enable-dbus


#library versions
LIB_version := $(shell grep '^libgps_la_LDFLAGS' Makefile.am | \
	                   sed 's,^[^0-9]*,,g;s,:,.,g')
LIB_major := $(shell echo $(LIB_version) | sed 's,\..*,,g')



#package names
PACKAGE_GPSD := gpsd
PACKAGE_CLIENTS := gpsd-clients
PACKAGE_LIB := $(shell grep '^Package: libgps$(LIB_major)' debian/control | \
	               awk '{print $$2}')
PACKAGE_LIB_DEV := libgps-dev
PACKAGE_PY := python-gps



autotools-dev-stamp:
	dh_testdir

ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	touch $@


define CLEAN_BUILDDIR
	[ ! -r Makefile ] || $(MAKE) distclean
	[ ! -d $(CURDIR)/debian/tmp ] || rm -rf $(CURDIR)/debian/tmp
	rm -f *.1 *.3 *.5 *.8
endef

build: build-lib-static build-gpsd build-python
build-gpsd: build-gpsd-stamp
build-python: build-python-stamp

MAKEFLAGS_LIB_DEV = \
	bin_PROGRAMS=  \
	sbin_PROGRAMS=  \
	man_MANS='libgps.3  libgpsd.3  libgpsmm.3 rtcm-104.5 srec.5'
build-lib-static: patch-stamp autotools-dev-stamp
	dh_testdir

	$(CLEAN_BUILDDIR)

	$(CONFENV) ./configure $(CONFFLAGS) --without-pic --disable-shared

	$(MAKE) $(MAKEFLAGS_LIB_DEV)
	$(MAKE) install $(MAKEFLAGS_LIB_DEV) DESTDIR=$(CURDIR)/debian/tmp

	#install all files, except libgps.la (will be installed when we
	#build a shared library, too)
	find debian/tmp -name libgps.la -o -type f -print > \
	    debian/$(PACKAGE_LIB_DEV).install
	dh_install -p$(PACKAGE_LIB_DEV)
	rm debian/$(PACKAGE_LIB_DEV).install

	dh_link -p$(PACKAGE_LIB_DEV) usr/lib/libgps.so.$(LIB_major) \
	                             usr/lib/libgps.so
	dh_link -p$(PACKAGE_LIB_DEV) usr/lib/libgps.so.$(LIB_version) \
	                             usr/lib/libgps.so.$(LIB_major)


build-gpsd-stamp: patch-stamp autotools-dev-stamp
	dh_testdir

	$(CLEAN_BUILDDIR)

	#sanity check if debian/control lists the right package name
	grep -q '^Package: libgps$(LIB_major)' debian/control

	LDFLAGS="-Wl,-z,defs" $(CONFENV) ./configure $(CONFFLAGS) --with-pic

	$(MAKE)
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	cp INSTALL TROUBLESHOOTING

	#gps.1 is provided by the gps package unfortunately
	mv $(CURDIR)/debian/tmp/usr/share/man/man1/gps.1 \
           $(CURDIR)/debian/tmp/usr/share/man/man1/xgps.1

	dh_link -p$(PACKAGE_CLIENTS) usr/share/man/man1/xgps.1.gz \
	                             usr/share/man/man1/cgps.1.gz
	dh_link -p$(PACKAGE_CLIENTS) usr/share/man/man1/xgps.1.gz \
	                             usr/share/man/man1/cgpxlogger.1.gz
	dh_link -p$(PACKAGE_CLIENTS) usr/share/man/man1/xgps.1.gz \
	                             usr/share/man/man1/gpxlogger.1.gz

	chmod 755 debian/gpsd.hotplug.wrapper
	dh_install -p$(PACKAGE_GPSD)
	dh_install -p$(PACKAGE_CLIENTS)
	dh_install -p$(PACKAGE_LIB) debian/tmp/usr/lib/libgps.so.$(LIB_version)
	dh_install -p$(PACKAGE_LIB_DEV) debian/tmp/usr/lib/libgps.la

	install -d -m 755 debian/$(PACKAGE_CLIENTS)/etc/X11/app-defaults
	install -m 644 xgps.ad debian/$(PACKAGE_CLIENTS)/etc/X11/app-defaults/xgps

	touch $@


build-python-stamp: build-gpsd-stamp
	dh_testdir

	$(MAKE) packet_names.h gpsfake.1 gpsprof.1

	set -e; \
	for py in $(PYVERS); do  \
	    $$py setup.py build; \
	    $$py setup.py install --root=debian/$(PACKAGE_PY); \
	done

	dh_pysupport -p$(PACKAGE_PY)
	chmod 755 debian/$(PACKAGE_PY)/usr/share/python-support/python-gps/gps.py

	touch $@


clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	dh_clean

	debconf-updatepo

	rm -f autotools-dev-stamp
	rm -f build-gpsd-stamp build-python-stamp
	rm -f TROUBLESHOOTING

ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	rm -f config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	rm -f config.guess
endif

	python setup.py clean
	rm -rf build
	[ ! -r Makefile ] || $(MAKE) distclean


binary-indep: 
#nothing to do here.

binary-arch: build
	dh_testdir
	dh_testroot
	dh_installchangelogs -s 
	dh_installdocs -s
	dh_installmenu -s
	dh_installdebconf -s
	dh_installinit -s
	dh_installudev -s
	dh_link -s
	dh_strip -s
	dh_compress -s
	dh_fixperms -s
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

binary: binary-indep binary-arch

get-orig-source:
	if ! which uscan; then \
	    echo "Please install the devscripts package." ;\
	    exit 1 ;\
	fi
	uscan --verbose --force-download

.PHONY: build build-gpsd build-python build-lib-static \
	clean clean-patched \
	binary-indep binary-arch binary install \
	get-orig-source 
